.background{
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.background::before,
.background::after {
    content: "";
    position: fixed;
    inset: -20%;
    filter: blur(40px);
    animation: move 8s ease-in-out infinite alternate;
}

.background::before {
    background:
            radial-gradient(circle at 30% 40%, #0946b8 0, transparent 35%),
            radial-gradient(circle at 70% 60%, #1facc3 0, transparent 30%);
}

.background::after {
    background:
            radial-gradient(circle at 70% 30%, #945bba 0, transparent 35%),
            radial-gradient(circle at 30% 70%, #40489c 0, transparent 30%);
    animation-duration: 10s;
}

@keyframes move {
    from {
        transform: translate(-10%, -10%) rotate(0deg);
    }
    to {
        transform: translate(5%, 15%) rotate(25deg);
    }
}